## Notebook to get the menu data from "la cevichería de tabasco" web page and transform it to a BI project

> By Elias Castellanos Alamilla

We're going to use requests and beautifulsoup python modules to scrape menu data from internet.

Key points

* Web scrape [Menú Plaza la Venta](https://www.lacevicheriatabasco.com/la-venta)
-> [Menú Gaviotas](https://www.lacevicheriatabasco.com/menu-temporal-gaviotas)
* Target data: Menú items
* Automate data extraction in xlsx or csv format.
* Main goal...create a program that simulate customer order with the menu data.

In [1]:
import pandas as pd

import numpy as np

import requests
from bs4 import BeautifulSoup
import bs4

import matplotlib.pyplot as plt

import import_ipynb

import random
import os 
import json
import time

In [2]:
from my_functions import get_cevi_menu, get_cevi_gn, random_dates, split_menu_items, experiment

importing Jupyter notebook from my_functions.ipynb

In [3]:
from my_models import person

importing Jupyter notebook from my_models.ipynb

# Sucursal La Venta

In [4]:
# Get menu data in pandas DataFrame format from web page
cevi = get_cevi_menu()
cevi

<string>:27: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

                                             Platillo  Precio
0                          TIRADITO VERDE DE KAMPACHI   215.0
1                           OSTIONES JAPONESES. 6pzas   250.0
2                             SALPICÓN DE PEJELAGARTO   290.0
3                                 CAGUAMA DE MARISCOS   390.0
4                                AGUACHILE DE CAMARÓN   290.0
5                                  CEVICHE DE LA CASA   280.0
6           CEVICHE BLANCO DE FRONTERA / A mi manera.   240.0
7                                  CEVICHE LA NEGRITA   790.0
8                                        EL CEVI COCO   390.0
9                                      CEVICHE VEGANO   220.0
10                                        LA POLÉMICA   110.0
11                                 CAMARON LA CLASICA   110.0
12                                    PULPO AGALAMBAO   115.0
13                                 CALLO EN AGUACHILE   180.0
14                           SALPICÓN DE ATÚN AHUMADO   110.0
15                                      DON FLORENCIO   110.0
16                             DEDOS DE PLATANO MACHO   150.0
17                  LA FAMOSA PIZZA CHOCA DE LA GÚERA   250.0
18                                 FESTÍN DE MARISCOS   270.0
19                                         DOÑA CHAYA   230.0
20                                 TUÉTANOS CON PULPO   210.0
21              MANITAS DE CANGREJO MORO AL CHILTEPÍN   345.0
22                              FISH AND CHIPS DIABLO   150.0
23                                       POLLITO ROCA   160.0
24                       SU MAJESTAD “EL PEJELAGARTO”   790.0
25                                EL PULPO DE LA CASA   350.0
26                               CAMARONES TROPICALES   290.0
27                         ATÚN AL GRILL “LA MAESTRA”   270.0
28                                      PESCA DEL DÍA   170.0
29                                       JAIBA TIERNA   160.0
30                             EL DE CARNITAS DE ATÚN    95.0
31                          LOS DE PULPO (ORDEN DE 3)   190.0
32                                      EL DE CAMARÓN    95.0
33                                  COSTRA DE CAMARÓN   150.0
34                    CHILPACHOLE DE CAMARÓN O ROBALO   250.0
35                               EL COCTEL DE CAMARÓN   240.0
36                      EL FLAN DE LA CASA CON CAJETA    90.0
37                             CHEESECAKE DE MARACUYA   125.0
38                           AGUA DE MATALÍ |355 ML -    40.0
39              AGUA DE CHAYA CON MARACUYÁ | 355 ML -    40.0
40                       REFRESCOS DE LATA | 355 ML -    40.0
41                    AGUA MINERAL DE LATA | 355 ML -    40.0
42                             AGUA TOPOCHICO | 355ML    55.0
43                 AGUA NATURAL “EL PETÉN” | 500 ML -    50.0
44                                   CAFÉ AMERICANO -    45.0
45                                        CAPUCCINO -    75.0
46                            AGUA DE PIEDRA | 650 ML   120.0
47                                PACÍFICO | 355 ML -    45.0
48                          PACÍFICO SUAVE | 355 ML -    45.0
49                         MODELO ESPECIAL | 355 ML -    45.0
50                            NEGRA MODELO | 355 ML -    45.0
51                           STELLA ARTOIS | 355 ML -    45.0
52                                VICTORIA | 355 ML -    45.0
53                          MICHELOB ULTRA | 355 ML -    45.0
54                            CORONA LIGHT | 355 ML -    45.0
55                            CORONA EXTRA | 355 ML -    45.0
56   VASO DE MICHELADA, CLAMATADA O CHELADA | 45 ML -    20.0
57  VASO DE CLAMATO PREPARADO CON JUGO DE LIMÓN Y ...    50.0
58                                  OLMECA | 355 ML -    90.0
59                                 CELEBRE | 355 ML -    90.0

In [5]:
cevi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Platillo  60 non-null     object
 1   Precio    60 non-null     float64
dtypes: float64(1), object(1)
memory usage: 1.1+ KB

In [6]:
foods_dict, desserts_dict, drinks_dict, beers_dict = split_menu_items(cevi)

In [7]:
orders = experiment(10000, foods_dict, desserts_dict, drinks_dict, beers_dict, "Platillo", "Precio")

In [8]:
random_data = pd.DataFrame(orders, columns=["comida", "postre", "bebida", "cerveza", "tipo_comensal"])
random_data.head()

,comida,postre,bebida,cerveza,tipo_comensal
0,"[LA FAMOSA PIZZA CHOCA DE LA GÚERA, 250.0]",[0.0],"[REFRESCOS DE LATA | 355 ML -, 40.0]",[0.0],women
1,"[LA FAMOSA PIZZA CHOCA DE LA GÚERA, 250.0]",[0.0],"[AGUA DE MATALÍ |355 ML -, 40.0]",[0.0],women
2,"[TIRADITO VERDE DE KAMPACHI, 215.0]",[0.0],"[REFRESCOS DE LATA | 355 ML -, 40.0]",[0.0],women
3,"[COSTRA DE CAMARÓN, 150.0]",[0.0],"[REFRESCOS DE LATA | 355 ML -, 40.0]",[0.0],child
4,"[CEVICHE DE LA CASA, 280.0]",[0.0],"[CAFÉ AMERICANO -, 45.0]",[0.0],child

In [9]:
random_data.tail()

,comida,postre,bebida,cerveza,tipo_comensal
9995,"[CAMARON LA CLASICA, 110.0]","[EL FLAN DE LA CASA CON CAJETA, 90.0]","[AGUA NATURAL “EL PETÉN” | 500 ML -, 50.0]","[CORONA LIGHT | 355 ML -, 45.0]",man
9996,"[PESCA DEL DÍA, 170.0]",[0.0],"[AGUA TOPOCHICO | 355ML, 55.0]",[0.0],child
9997,"[PESCA DEL DÍA, 170.0]","[CHEESECAKE DE MARACUYA, 125.0]","[AGUA DE PIEDRA | 650 ML, 120.0]","[OLMECA | 355 ML -, 90.0]",man
9998,"[DOÑA CHAYA, 230.0]",[0.0],"[AGUA DE MATALÍ |355 ML -, 40.0]",[0.0],women
9999,"[COSTRA DE CAMARÓN, 150.0]",[0.0],"[AGUA DE MATALÍ |355 ML -, 40.0]",[0.0],women

In [10]:
# Extract numbers and store in a new column

random_data['precio_c'] = pd.Series(random_data['comida'].tolist()).str[1]
random_data['precio_p'] = pd.Series(random_data['postre'].tolist()).str[1]
random_data['precio_b'] = pd.Series(random_data['bebida'].tolist()).str[1]
random_data['precio_ch'] = pd.Series(random_data['cerveza'].tolist()).str[1]

random_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   comida         10000 non-null  object
 1   postre         10000 non-null  object
 2   bebida         10000 non-null  object
 3   cerveza        10000 non-null  object
 4   tipo_comensal  10000 non-null  object
 5   precio_c       10000 non-null  float64
 6   precio_p       3314 non-null   float64
 7   precio_b       10000 non-null  float64
 8   precio_ch      3314 non-null   float64
dtypes: float64(4), object(5)
memory usage: 703.2+ KB

In [11]:
random_data[["precio_p", "precio_ch"]] = random_data[["precio_p", "precio_ch"]].fillna(0)

In [12]:
# Calculate total income for each sale

random_data["total"] = random_data['precio_c'] + random_data['precio_p'] + random_data['precio_b'] + random_data['precio_ch']
random_data

,comida,postre,bebida,cerveza,tipo_comensal,precio_c,precio_p,precio_b,precio_ch,total
0,"[LA FAMOSA PIZZA CHOCA DE LA GÚERA, 250.0]",[0.0],"[REFRESCOS DE LATA | 355 ML -, 40.0]",[0.0],women,250.0,0.0,40.0,0.0,290.0
1,"[LA FAMOSA PIZZA CHOCA DE LA GÚERA, 250.0]",[0.0],"[AGUA DE MATALÍ |355 ML -, 40.0]",[0.0],women,250.0,0.0,40.0,0.0,290.0
2,"[TIRADITO VERDE DE KAMPACHI, 215.0]",[0.0],"[REFRESCOS DE LATA | 355 ML -, 40.0]",[0.0],women,215.0,0.0,40.0,0.0,255.0
3,"[COSTRA DE CAMARÓN, 150.0]",[0.0],"[REFRESCOS DE LATA | 355 ML -, 40.0]",[0.0],child,150.0,0.0,40.0,0.0,190.0
4,"[CEVICHE DE LA CASA, 280.0]",[0.0],"[CAFÉ AMERICANO -, 45.0]",[0.0],child,280.0,0.0,45.0,0.0,325.0
...,...,...,...,...,...,...,...,...,...,...
9995,"[CAMARON LA CLASICA, 110.0]","[EL FLAN DE LA CASA CON CAJETA, 90.0]","[AGUA NATURAL “EL PETÉN” | 500 ML -, 50.0]","[CORONA LIGHT | 355 ML -, 45.0]",man,110.0,90.0,50.0,45.0,295.0
9996,"[PESCA DEL DÍA, 170.0]",[0.0],"[AGUA TOPOCHICO | 355ML, 55.0]",[0.0],child,170.0,0.0,55.0,0.0,225.0
9997,"[PESCA DEL DÍA, 170.0]","[CHEESECAKE DE MARACUYA, 125.0]","[AGUA DE PIEDRA | 650 ML, 120.0]","[OLMECA | 355 ML -, 90.0]",man,170.0,125.0,120.0,90.0,505.0
9998,"[DOÑA CHAYA, 230.0]",[0.0],"[AGUA DE MATALÍ |355 ML -, 40.0]",[0.0],women,230.0,0.0,40.0,0.0,270.0
9999,"[COSTRA DE CAMARÓN, 150.0]",[0.0],"[AGUA DE MATALÍ |355 ML -, 40.0]",[0.0],women,150.0,0.0,40.0,0.0,190.0

In [13]:
start = pd.to_datetime('2023-01-01')
end = pd.to_datetime('2023-03-31')
dates_sample = random_dates(start, end, n=10000)

In [14]:
random_data.index = dates_sample

In [15]:
# Add order id

a = 1
ordenes = []
for i in range(len(random_data)):
    x = 'orden_'+str(a)
    a+=1
    ordenes.append(x)
    
random_data['orden'] = ordenes
random_data

,comida,postre,bebida,cerveza,tipo_comensal,precio_c,precio_p,precio_b,precio_ch,total,orden
2023-02-27 07:33:07,"[LA FAMOSA PIZZA CHOCA DE LA GÚERA, 250.0]",[0.0],"[REFRESCOS DE LATA | 355 ML -, 40.0]",[0.0],women,250.0,0.0,40.0,0.0,290.0,orden_1
2023-01-02 15:47:02,"[LA FAMOSA PIZZA CHOCA DE LA GÚERA, 250.0]",[0.0],"[AGUA DE MATALÍ |355 ML -, 40.0]",[0.0],women,250.0,0.0,40.0,0.0,290.0,orden_2
2023-03-12 19:29:37,"[TIRADITO VERDE DE KAMPACHI, 215.0]",[0.0],"[REFRESCOS DE LATA | 355 ML -, 40.0]",[0.0],women,215.0,0.0,40.0,0.0,255.0,orden_3
2023-03-06 21:47:24,"[COSTRA DE CAMARÓN, 150.0]",[0.0],"[REFRESCOS DE LATA | 355 ML -, 40.0]",[0.0],child,150.0,0.0,40.0,0.0,190.0,orden_4
2023-03-16 23:34:28,"[CEVICHE DE LA CASA, 280.0]",[0.0],"[CAFÉ AMERICANO -, 45.0]",[0.0],child,280.0,0.0,45.0,0.0,325.0,orden_5
...,...,...,...,...,...,...,...,...,...,...,...
2023-03-25 10:18:25,"[CAMARON LA CLASICA, 110.0]","[EL FLAN DE LA CASA CON CAJETA, 90.0]","[AGUA NATURAL “EL PETÉN” | 500 ML -, 50.0]","[CORONA LIGHT | 355 ML -, 45.0]",man,110.0,90.0,50.0,45.0,295.0,orden_9996
2023-03-14 12:33:18,"[PESCA DEL DÍA, 170.0]",[0.0],"[AGUA TOPOCHICO | 355ML, 55.0]",[0.0],child,170.0,0.0,55.0,0.0,225.0,orden_9997
2023-03-14 12:13:33,"[PESCA DEL DÍA, 170.0]","[CHEESECAKE DE MARACUYA, 125.0]","[AGUA DE PIEDRA | 650 ML, 120.0]","[OLMECA | 355 ML -, 90.0]",man,170.0,125.0,120.0,90.0,505.0,orden_9998
2023-03-18 23:17:32,"[DOÑA CHAYA, 230.0]",[0.0],"[AGUA DE MATALÍ |355 ML -, 40.0]",[0.0],women,230.0,0.0,40.0,0.0,270.0,orden_9999
2023-01-29 14:32:52,"[COSTRA DE CAMARÓN, 150.0]",[0.0],"[AGUA DE MATALÍ |355 ML -, 40.0]",[0.0],women,150.0,0.0,40.0,0.0,190.0,orden_10000

In [16]:
random_data["Latitud"] = 17.99915569764087
random_data["Longitud"] = -92.93927357694982
random_data["Ubicacion"] = "Plaza la Venta"

In [17]:
random_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10000 entries, 2023-02-27 07:33:07 to 2023-01-29 14:32:52
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   comida         10000 non-null  object
 1   postre         10000 non-null  object
 2   bebida         10000 non-null  object
 3   cerveza        10000 non-null  object
 4   tipo_comensal  10000 non-null  object
 5   precio_c       10000 non-null  float64
 6   precio_p       10000 non-null  float64
 7   precio_b       10000 non-null  float64
 8   precio_ch      10000 non-null  float64
 9   total          10000 non-null  float64
 10  orden          10000 non-null  object
 11  Latitud        10000 non-null  float64
 12  Longitud       10000 non-null  float64
 13  Ubicacion      10000 non-null  object
dtypes: float64(7), object(7)
memory usage: 1.1+ MB

In [18]:
# End
if not os.path.exists('./data'):
    os.mkdir('./data')

random_data.to_excel('./data/random_orders.xlsx')

## Sucursal Gaviotas Norte

In [19]:
# Gaviotas norte
# lat = 17.96860532096717, long = -92.90901500283535

gn_menu = get_cevi_gn()
gn_menu

<string>:27: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

                                            Platillo  Precio
0                            CEVICHE DE LA CASA $230   230.0
1                            CEVICHE FRONTEREÑO $210   210.0
2                                  EL CEVI COCO $390   390.0
3                           CAGUAMA DE MARISCOS $360   360.0
4                          AGUACHILE DE CAMARÓN $290   290.0
5                        DEDOS DE PLATANO MACHO $110   110.0
6                        PIZZA CHOCA “LA GüERA” $250   250.0
7                                  SEÑORA CHAYA $165   165.0
8                                 PESCA DEL DÍA $170   170.0
9                               MANITAS DE MORO $340   340.0
10                       CHILPACHOLE DE CAMARÓN $230   230.0
11                        CHILPACHOLE DE ROBALO $230   230.0
12                          CALDAZO DE MARISCOS $280   280.0
13                  CALAMAR Y PULPO EN SU TINTA $220   220.0
14                 EL ARROZ CALDOSO DE MARISCOS $240   240.0
15                                EL DE CAMARÓN $220   220.0
16                          EL VUELVE A LA VIDA $230   230.0
17                          EL PULPO DE LA CASA $320   320.0
18                         CAMARONES TROPICALES $260   260.0
19                            MOJARRA ZAPATENSE $220   220.0
20             LAS EMPANADAS DE CAMARÓN (3 pza) $170   170.0
21                   ATÚN AL GRILL “LA MAESTRA” $250   250.0
22        BONELESS DE POLLITO $130 (Para los peques)   130.0
23                                     DON FLORENCIO    95.0
24                          ATÚN AHUMADO EN SALPICÓN    95.0
25                                   PULPO AGALAMBAO    95.0
26                              CAMARÓN “LA CLÁSICA”    95.0
27                                       LA POLÉMICA    95.0
28                        EL DE CARNITAS DE ATÚN $89    89.0
29                                 EL DE CAMARÓN $85    85.0
30                    LOS DE PULPO (ORDEN DE 3) $145   145.0
31                          LA GRINGA GOBERNADOR $85    85.0
32               LOS DE PEZ DIABLO (ORDEN DE 3) $120   120.0
33                            EL FLAN DE LA CASA $80    80.0
34                       CHEESECAKE DE MARACUYÁ $125   125.0
35                              AGUA DE MATALÍ 355ML    40.0
36                 AGUA DE CHAYA CON MARACUYÁ 355ML-    40.0
37                           REFRESCOS DE LATA 355ML    38.0
38                     AGUA MINERAL DE LATA | 355 Ml    38.0
39                        AGUA NATURAL CIEL | 600 ML    30.0
40                                    CAFÉ AMERICANO    45.0
41                                     CAFE EXPRESSO    45.0
42                                    EXPRESSO DOBLE    90.0
43                        MODELO ESPECIAL | 355 ML -    45.0
44                           NEGRA MODELO | 355 ML -    45.0
45                          STELLA ARTOIS | 355 ML -    45.0
46                               VICTORIA | 355 ML -    45.0
47                         MICHELOB ULTRA | 355 ML -    45.0
48                           CORONA LIGHT | 355 ML -    45.0
49                           CORONA EXTRA | 355 ML -    45.0
50  VASO DE MICHELADA, CLAMATADA O CHELADA | 45 ML -    22.0
51                                 OLMECA | 355 ML -    92.0
52                                CELEBRE | 355 ML -    92.0
53                                         CARAJILLO   145.0
54                                    MEZCAL MOTIVOS   150.0
55                                           SAMBUCA   100.0

In [20]:
comida_gn_dict, postres_gn_dict, bebidas_gn_dict, cheve_gn_dict = split_menu_items(
    df=gn_menu,
    food_upper_index=33,
    desserts_upper_index=35,
    soda_upper_index=47
)

In [21]:
clientes_gn = experiment(2000, comida_gn_dict, postres_gn_dict, bebidas_gn_dict, cheve_gn_dict, "Platillo", "Precio")

In [22]:
simulated_data = pd.DataFrame(clientes_gn, columns=["comida", "postre", "bebida", "cerveza", "tipo_comensal"])
simulated_data.head()

,comida,postre,bebida,cerveza,tipo_comensal
0,"[PESCA DEL DÍA $170, 170.0]","[CHEESECAKE DE MARACUYÁ $125, 125.0]","[AGUA NATURAL CIEL | 600 ML, 30.0]","[SAMBUCA, 100.0]",man
1,"[MANITAS DE MORO $340, 340.0]",[0.0],"[AGUA NATURAL CIEL | 600 ML, 30.0]",[0.0],women
2,"[PESCA DEL DÍA $170, 170.0]",[0.0],"[REFRESCOS DE LATA 355ML, 38.0]",[0.0],child
3,"[DON FLORENCIO, 95.0]",[0.0],"[AGUA NATURAL CIEL | 600 ML, 30.0]",[0.0],women
4,"[ATÚN AHUMADO EN SALPICÓN, 95.0]","[CHEESECAKE DE MARACUYÁ $125, 125.0]","[EXPRESSO DOBLE, 90.0]","[MICHELOB ULTRA | 355 ML -, 45.0]",man

In [23]:
simulated_data.tail()

,comida,postre,bebida,cerveza,tipo_comensal
1995,"[EL PULPO DE LA CASA $320, 320.0]",[0.0],"[VICTORIA | 355 ML -, 45.0]",[0.0],child
1996,"[PIZZA CHOCA “LA GüERA” $250, 250.0]","[EL FLAN DE LA CASA $80, 80.0]","[MODELO ESPECIAL | 355 ML -, 45.0]","[CELEBRE | 355 ML -, 92.0]",man
1997,"[EL VUELVE A LA VIDA $230, 230.0]",[0.0],"[NEGRA MODELO | 355 ML -, 45.0]",[0.0],child
1998,"[CALDAZO DE MARISCOS $280, 280.0]",[0.0],"[VICTORIA | 355 ML -, 45.0]",[0.0],women
1999,"[LOS DE PEZ DIABLO (ORDEN DE 3) $120, 120.0]",[0.0],"[REFRESCOS DE LATA 355ML, 38.0]",[0.0],women

In [24]:
# Extract numbers and store in a new column

simulated_data['precio_c'] = pd.Series(simulated_data['comida'].tolist()).str[1]
simulated_data['precio_p'] = pd.Series(simulated_data['postre'].tolist()).str[1]
simulated_data['precio_b'] = pd.Series(simulated_data['bebida'].tolist()).str[1]
simulated_data['precio_ch'] = pd.Series(simulated_data['cerveza'].tolist()).str[1]

simulated_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   comida         2000 non-null   object
 1   postre         2000 non-null   object
 2   bebida         2000 non-null   object
 3   cerveza        2000 non-null   object
 4   tipo_comensal  2000 non-null   object
 5   precio_c       2000 non-null   float64
 6   precio_p       606 non-null    float64
 7   precio_b       2000 non-null   float64
 8   precio_ch      606 non-null    float64
dtypes: float64(4), object(5)
memory usage: 140.8+ KB

In [25]:
simulated_data[["precio_p", "precio_ch"]] = simulated_data[["precio_p", "precio_ch"]].fillna(0)

In [26]:
# Calculate total income for each sale

simulated_data["total"] = simulated_data['precio_c'] + simulated_data['precio_p'] + simulated_data['precio_b'] + simulated_data['precio_ch']
simulated_data

,comida,postre,bebida,cerveza,tipo_comensal,precio_c,precio_p,precio_b,precio_ch,total
0,"[PESCA DEL DÍA $170, 170.0]","[CHEESECAKE DE MARACUYÁ $125, 125.0]","[AGUA NATURAL CIEL | 600 ML, 30.0]","[SAMBUCA, 100.0]",man,170.0,125.0,30.0,100.0,425.0
1,"[MANITAS DE MORO $340, 340.0]",[0.0],"[AGUA NATURAL CIEL | 600 ML, 30.0]",[0.0],women,340.0,0.0,30.0,0.0,370.0
2,"[PESCA DEL DÍA $170, 170.0]",[0.0],"[REFRESCOS DE LATA 355ML, 38.0]",[0.0],child,170.0,0.0,38.0,0.0,208.0
3,"[DON FLORENCIO, 95.0]",[0.0],"[AGUA NATURAL CIEL | 600 ML, 30.0]",[0.0],women,95.0,0.0,30.0,0.0,125.0
4,"[ATÚN AHUMADO EN SALPICÓN, 95.0]","[CHEESECAKE DE MARACUYÁ $125, 125.0]","[EXPRESSO DOBLE, 90.0]","[MICHELOB ULTRA | 355 ML -, 45.0]",man,95.0,125.0,90.0,45.0,355.0
...,...,...,...,...,...,...,...,...,...,...
1995,"[EL PULPO DE LA CASA $320, 320.0]",[0.0],"[VICTORIA | 355 ML -, 45.0]",[0.0],child,320.0,0.0,45.0,0.0,365.0
1996,"[PIZZA CHOCA “LA GüERA” $250, 250.0]","[EL FLAN DE LA CASA $80, 80.0]","[MODELO ESPECIAL | 355 ML -, 45.0]","[CELEBRE | 355 ML -, 92.0]",man,250.0,80.0,45.0,92.0,467.0
1997,"[EL VUELVE A LA VIDA $230, 230.0]",[0.0],"[NEGRA MODELO | 355 ML -, 45.0]",[0.0],child,230.0,0.0,45.0,0.0,275.0
1998,"[CALDAZO DE MARISCOS $280, 280.0]",[0.0],"[VICTORIA | 355 ML -, 45.0]",[0.0],women,280.0,0.0,45.0,0.0,325.0
1999,"[LOS DE PEZ DIABLO (ORDEN DE 3) $120, 120.0]",[0.0],"[REFRESCOS DE LATA 355ML, 38.0]",[0.0],women,120.0,0.0,38.0,0.0,158.0

In [27]:
start_gn = pd.to_datetime('2023-01-01')
end_gn = pd.to_datetime('2023-03-31')
dates_sample_gn = random_dates(start, end, n=2000)
simulated_data.index = dates_sample_gn

In [28]:
# Add order id

a = 1
orders = []
for i in range(len(simulated_data)):
    x = 'orden_'+str(a)
    a+=1
    orders.append(x)
    
simulated_data['orden'] = orders
simulated_data

,comida,postre,bebida,cerveza,tipo_comensal,precio_c,precio_p,precio_b,precio_ch,total,orden
2023-03-05 14:06:39,"[PESCA DEL DÍA $170, 170.0]","[CHEESECAKE DE MARACUYÁ $125, 125.0]","[AGUA NATURAL CIEL | 600 ML, 30.0]","[SAMBUCA, 100.0]",man,170.0,125.0,30.0,100.0,425.0,orden_1
2023-03-29 23:20:18,"[MANITAS DE MORO $340, 340.0]",[0.0],"[AGUA NATURAL CIEL | 600 ML, 30.0]",[0.0],women,340.0,0.0,30.0,0.0,370.0,orden_2
2023-03-30 22:21:54,"[PESCA DEL DÍA $170, 170.0]",[0.0],"[REFRESCOS DE LATA 355ML, 38.0]",[0.0],child,170.0,0.0,38.0,0.0,208.0,orden_3
2023-01-09 02:15:01,"[DON FLORENCIO, 95.0]",[0.0],"[AGUA NATURAL CIEL | 600 ML, 30.0]",[0.0],women,95.0,0.0,30.0,0.0,125.0,orden_4
2023-01-31 05:50:58,"[ATÚN AHUMADO EN SALPICÓN, 95.0]","[CHEESECAKE DE MARACUYÁ $125, 125.0]","[EXPRESSO DOBLE, 90.0]","[MICHELOB ULTRA | 355 ML -, 45.0]",man,95.0,125.0,90.0,45.0,355.0,orden_5
...,...,...,...,...,...,...,...,...,...,...,...
2023-02-20 23:48:32,"[EL PULPO DE LA CASA $320, 320.0]",[0.0],"[VICTORIA | 355 ML -, 45.0]",[0.0],child,320.0,0.0,45.0,0.0,365.0,orden_1996
2023-03-21 22:43:37,"[PIZZA CHOCA “LA GüERA” $250, 250.0]","[EL FLAN DE LA CASA $80, 80.0]","[MODELO ESPECIAL | 355 ML -, 45.0]","[CELEBRE | 355 ML -, 92.0]",man,250.0,80.0,45.0,92.0,467.0,orden_1997
2023-02-06 19:24:16,"[EL VUELVE A LA VIDA $230, 230.0]",[0.0],"[NEGRA MODELO | 355 ML -, 45.0]",[0.0],child,230.0,0.0,45.0,0.0,275.0,orden_1998
2023-02-04 07:55:56,"[CALDAZO DE MARISCOS $280, 280.0]",[0.0],"[VICTORIA | 355 ML -, 45.0]",[0.0],women,280.0,0.0,45.0,0.0,325.0,orden_1999
2023-01-28 10:41:15,"[LOS DE PEZ DIABLO (ORDEN DE 3) $120, 120.0]",[0.0],"[REFRESCOS DE LATA 355ML, 38.0]",[0.0],women,120.0,0.0,38.0,0.0,158.0,orden_2000

In [29]:
# lat = 17.96860532096717, long = -92.90901500283535

simulated_data['Latitud'] = 17.96860532096717
simulated_data['Longitud'] = -92.90901500283535
simulated_data['Ubicacion'] = "Gaviotas Norte"

In [30]:
simulated_data.to_excel("./data/simulacion_cevi_gn.xlsx")

In [31]:
simulated_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2000 entries, 2023-03-05 14:06:39 to 2023-01-28 10:41:15
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   comida         2000 non-null   object
 1   postre         2000 non-null   object
 2   bebida         2000 non-null   object
 3   cerveza        2000 non-null   object
 4   tipo_comensal  2000 non-null   object
 5   precio_c       2000 non-null   float64
 6   precio_p       2000 non-null   float64
 7   precio_b       2000 non-null   float64
 8   precio_ch      2000 non-null   float64
 9   total          2000 non-null   float64
 10  orden          2000 non-null   object
 11  Latitud        2000 non-null   float64
 12  Longitud       2000 non-null   float64
 13  Ubicacion      2000 non-null   object
dtypes: float64(7), object(7)
memory usage: 234.4+ KB

In [32]:
random_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10000 entries, 2023-02-27 07:33:07 to 2023-01-29 14:32:52
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   comida         10000 non-null  object
 1   postre         10000 non-null  object
 2   bebida         10000 non-null  object
 3   cerveza        10000 non-null  object
 4   tipo_comensal  10000 non-null  object
 5   precio_c       10000 non-null  float64
 6   precio_p       10000 non-null  float64
 7   precio_b       10000 non-null  float64
 8   precio_ch      10000 non-null  float64
 9   total          10000 non-null  float64
 10  orden          10000 non-null  object
 11  Latitud        10000 non-null  float64
 12  Longitud       10000 non-null  float64
 13  Ubicacion      10000 non-null  object
dtypes: float64(7), object(7)
memory usage: 1.1+ MB

In [33]:
df_concat = pd.concat([random_data.reset_index(), simulated_data.reset_index()])
df_concat.reset_index(drop=True, inplace=True)
df_concat.rename(columns={"index":"fecha"}, inplace=True)
df_concat

,fecha,comida,postre,bebida,cerveza,tipo_comensal,precio_c,precio_p,precio_b,precio_ch,total,orden,Latitud,Longitud,Ubicacion
0,2023-02-27 07:33:07,"[LA FAMOSA PIZZA CHOCA DE LA GÚERA, 250.0]",[0.0],"[REFRESCOS DE LATA | 355 ML -, 40.0]",[0.0],women,250.0,0.0,40.0,0.0,290.0,orden_1,17.999156,-92.939274,Plaza la Venta
1,2023-01-02 15:47:02,"[LA FAMOSA PIZZA CHOCA DE LA GÚERA, 250.0]",[0.0],"[AGUA DE MATALÍ |355 ML -, 40.0]",[0.0],women,250.0,0.0,40.0,0.0,290.0,orden_2,17.999156,-92.939274,Plaza la Venta
2,2023-03-12 19:29:37,"[TIRADITO VERDE DE KAMPACHI, 215.0]",[0.0],"[REFRESCOS DE LATA | 355 ML -, 40.0]",[0.0],women,215.0,0.0,40.0,0.0,255.0,orden_3,17.999156,-92.939274,Plaza la Venta
3,2023-03-06 21:47:24,"[COSTRA DE CAMARÓN, 150.0]",[0.0],"[REFRESCOS DE LATA | 355 ML -, 40.0]",[0.0],child,150.0,0.0,40.0,0.0,190.0,orden_4,17.999156,-92.939274,Plaza la Venta
4,2023-03-16 23:34:28,"[CEVICHE DE LA CASA, 280.0]",[0.0],"[CAFÉ AMERICANO -, 45.0]",[0.0],child,280.0,0.0,45.0,0.0,325.0,orden_5,17.999156,-92.939274,Plaza la Venta
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11995,2023-02-20 23:48:32,"[EL PULPO DE LA CASA $320, 320.0]",[0.0],"[VICTORIA | 355 ML -, 45.0]",[0.0],child,320.0,0.0,45.0,0.0,365.0,orden_1996,17.968605,-92.909015,Gaviotas Norte
11996,2023-03-21 22:43:37,"[PIZZA CHOCA “LA GüERA” $250, 250.0]","[EL FLAN DE LA CASA $80, 80.0]","[MODELO ESPECIAL | 355 ML -, 45.0]","[CELEBRE | 355 ML -, 92.0]",man,250.0,80.0,45.0,92.0,467.0,orden_1997,17.968605,-92.909015,Gaviotas Norte
11997,2023-02-06 19:24:16,"[EL VUELVE A LA VIDA $230, 230.0]",[0.0],"[NEGRA MODELO | 355 ML -, 45.0]",[0.0],child,230.0,0.0,45.0,0.0,275.0,orden_1998,17.968605,-92.909015,Gaviotas Norte
11998,2023-02-04 07:55:56,"[CALDAZO DE MARISCOS $280, 280.0]",[0.0],"[VICTORIA | 355 ML -, 45.0]",[0.0],women,280.0,0.0,45.0,0.0,325.0,orden_1999,17.968605,-92.909015,Gaviotas Norte
11999,2023-01-28 10:41:15,"[LOS DE PEZ DIABLO (ORDEN DE 3) $120, 120.0]",[0.0],"[REFRESCOS DE LATA 355ML, 38.0]",[0.0],women,120.0,0.0,38.0,0.0,158.0,orden_2000,17.968605,-92.909015,Gaviotas Norte

In [34]:
df_concat.to_excel("./data/random_orders.xlsx", index=False)